
body
{
                background-color: black;
                font-size: 28px;
                color: white;
}

#pojemnik
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#plansza
{
    width: 900px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;

}

#szubienica
{
    float: left;
    width: 450px;
    text-align: center;
}

#alfabet
{
    float: left;
    width: 450px;
    text-align: center;
}